@import url(http://fonts.googleapis.com/css?family=Lato);

html{
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

body{
  background-color: #FFF;
  margin: auto;
  display: block;
}

header{
  max-width: 1100px;
}

.header_container{
  background-image: url(../images/border.png);
  background-repeat: repeat-x;
  background-position: top;
  background-color: #333339;
  height: 100px;
  max-width: 1100px;
}

h1{
  position: relative;
  color: #1ACAC8;
  text-transform: uppercase;
  padding-top: 20px;
}

.flappy_logo{
/*  z-index: +1;*/
  position: absolute;
  top: 10px;
  left: 10px;
}

.header_container nav ul li{
  background-color: blue;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
}

a:active{
  color: #fff;
}

/* MEDIA QUERY */  
/* SMALL-ONLY */   
@media only screen and (max-width: 40em){
      body{
        background-color: orange;
        /*display: none;*/
      }
    } 

