@import url(http://fonts.googleapis.com/css?family=Lato:400,700);


/* MEDIA QUERY */  

/* SMALL-ONLY*/   
@media only screen and (max-width: 640px){
  body{
    margin: auto;
    display: block;
  }


  html{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #333339;
    background-color: #333339;
  }


  .header_container{
    background-image: url(/images/border.png);
    background-repeat: repeat-x;
    background-position: top;
  }


  .lines{
    border-bottom: 17px double #1ACAC8;
    border-top: 6px solid #1ACAC8;    
    content:"";
    height: 5px; 
    position: absolute; 
    right:25px;  
    top: 25px; 
    width:30px;
  }


  .title{
    height: 70px;
  }
  

  .title p{
    font-size: 20px;
    letter-spacing: 2px;
    padding-top: 25px;
    margin: 0;
    float: right;
    width: 75%;
  }


  .title span.title_flappy{
    color: #1ACAC8;
  }


  .title span.title_app{
    color: #FFF;
  }


  .flappy_logo{
    background-image: url(/images/logo.png);
    background-repeat: no-repeat;
    background-size: contain; 
    height: 55px;
    position: absolute;
    left: 10px;
    top: 10px;
    float: left;
    width: 25%;
  }


  nav{
    display: none;
  }


  ul{
    list-style-type: none;
  }


  .feature .scenery{
    background-image: url(/images/scenery.png);
    background-position: right center;
    background-size: cover;
    height: 220px;
  }


  .feature .features_menu{
    background-color: #1ACAC8;
    letter-spacing: 2px;
    color: rgb(43 44 51);
    text-align: center;
  }
  

  .features_menu li.features, .features_menu li.white{
    padding: 20px 0;
  }


  .features_menu li:first-child{
    color: #1ACAC8;
    background-color: #333339;
  }


  .features_menu li.white{
    border-top: solid 1px rgb(0, 160, 160);
  }


  li.white span{
    color: #FFF;
    margin: 0 5px;
  }


  .content p{
    background-color: #FFF;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    padding: 25px;
    text-transform: none;
  }


  .box_shadow{
    -webkit-box-shadow: 0px 5px 3px  #666;
    -moz-box-shadow: 0px 5px 3px  #666;
    box-shadow: 0px 5px 3px #666;
  }

  .sitemap_container{
    background-color: #333339;
    font-size: 14px;
    line-height: 28px; 
  }


  .sitemap{
    background-image: url(/images/border.png);
    background-repeat: repeat-x;
    padding: 40px;
    letter-spacing: 2px;
  }


/*  .sitemap ul{
    display: inline-block;
  } */


  .sitemap .site_left{
    width: 50%;
    float: left;

  } 


  .sitemap .site_middle{
    display: none;
  } 


  .sitemap .site_right{
    width: 50%;
    float: right;
  }


  a{
    text-decoration: none;
    color: #1ACAC8;
  }


  footer p{
    color: #FFF;
    text-align: center;
    letter-spacing: 3px;
    padding: 30px 25px 15px;
    float: left;
    width: 85%;
  }
} 


/* MEDIUM-ONLY*/   
@media only screen and (min-width: 641px) and (max-width: 961px){

  body{
    margin: auto;
    display: block;
  }


  html{
    font-size: 11px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #333339;
    background-color: #333339;
  }


  .header_container{
    background-image: url(/images/border.png);
    background-repeat: repeat-x;
    background-position: top;
  }


  .lines{
    display: none;
  }

  .flappy_logo{
    background-image: url(/images/logo.png);
    background-repeat: no-repeat;
    background-size: contain; 
    height: 40px;
    position: absolute;
    left: 30px;
    top: 30px;
    float: left;
    width: 10%;
  }


  .title{
    height: 100px;
    float: left;
    width: 120px; 
  }
  

  .title p{
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 3px;
    margin: 0;
    position: absolute;
    left: 100px;
    top: 35px;
    float: left;
    width: 10%;
  }


  .title span.title_flappy{
    color: #1ACAC8;
  }


  .title span.title_app{
    color: #FFF;
  }


  nav ul li{
    display: inline-block;
    margin: 10px;
  }
  
  nav{
    position: relative;
    float: right;
    padding: 35px 45px;
  }


  ul{
    list-style-type: none;
  }


  .feature .scenery{
    background-image: url(/images/scenery.png);
    background-position: left center;
    background-size: contain;
    height: 200px;
  }


  .feature .features_menu{
    background-color: #1ACAC8;
    letter-spacing: 2px;
    color: rgb(43 44 51);
    text-align: center;
  }
  

  .features_menu li.features, .features_menu li.white{
    padding: 12px 0;
  }


  .features_menu li:first-child{
    color: #1ACAC8;
    background-color: #333339;
  }


  .features_menu li.white{
    border-top: solid 1px rgb(0, 160, 160);
  }


  li.white span{
    color: #FFF;
    margin: 0 5px;
  }


  .content p{
    background-color: #FFF;
    font-size: 17px;
    font-weight: bold;
    line-height: 24px;
    padding: 30px;
    text-transform: none;
  }


  .box_shadow{
    -webkit-box-shadow: 0px 5px 3px  #666;
    -moz-box-shadow: 0px 5px 3px  #666;
    box-shadow: 0px 5px 3px #666;
  }

  .sitemap_container{
    height: 200px;
    line-height: 20px;   
  }


  .sitemap{
    background-image: url(/images/border.png);
    background-repeat: repeat-x;
    padding: 30px 30px;
  }



  .sitemap .site_left{
    float: left;
    width: 30%;
  } 


  .sitemap .site_middle{
    float: left;
    width: 30%;
  } 


  .sitemap .site_right{
    float: right;
    width: 30%;
  }


  a{
    text-decoration: none;
    color: #1ACAC8;
    font-size: 10px;
    letter-spacing: 2px;
  }

  a:hover{
    color: #FFF;
  }


  footer p{
    color: #FFF;
    text-align: center;
    letter-spacing: 3px;
    padding: 35px 0 0 0;
    float: left;
    width: 85%;
  }
} 


/* LARGE-ONLY */      
                                /*60.063em*/
/*@media only screen and (min-width: 961px){
  body{
    background-color: salmon;
  }
}